@import "vars";

/*
 * Basic
 */

html {
    height: 100%;
    margin: 0;
    padding: 0;
}
body {
    margin: 0;
    font-family: "Lato";
    font-weight: 300;
    height: 90%;
}
// b{
//     font-weight: 700;
// }
a {
    text-decoration: none;
    color: $accent;
}
a:hover {
    text-decoration: underline;
}
hr {
    border: 0;
    height: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

// @font-face {
//     font-family: "Lato";
//     src: url("https://fonts.googleapis.com/css?family=Lato") format("truetype");
//     font-weight: normal;
//     font-style: normal;
//   }
  
//   @font-face {
//     font-family: "Lato";
//     src: url("https://fonts.googleapis.com/css?family=Lato") format("truetype");
//     font-weight: normal;
//     font-style: italic;
//   }
  
//   @font-face {
//     font-family: "Lato";
//     src: url("https://fonts.googleapis.com/css?family=Lato") format("truetype");
//     font-weight: bold;
//     font-style: normal;
//   }
  
//   @font-face {
//     font-family: "DroidSerif";
//     src: url("DroidSerif-BoldItalic-webfont.ttf") format("truetype");
//     font-weight: bold;
//     font-style: italic;
//   }


/*
 * Navbar
 */

#author-name {
    font-size: 28px;
    color: #272727;
    display: inline-block;
}
.navbar {
    padding: 50px 0 50px 0;
}
.navbar-ul {
    font-size: 16px;
    display: inline-block;
    margin: 0;
    padding: 5px 0 5px 0;
    margin-left: 20px;
}
.nav-list {
    list-style-type: none;
    margin: 0 5px 0 10px;
}
.alignable {
    display: inline-block;
}
.pull-left {
    @extend .alignable;
    float: left;
}
.pull-right {
    @extend .alignable;
    float: right;
}

/* Divs */

.container {
    font-size: 16px;
    line-height: 150%;
    max-width: $max-width;
    margin: auto;
}
.wrapper {
    min-height: 100%;
}
.just-comments {
    max-width: $max-width;
    margin: auto;
}

/* Mobile */

@media (max-width: 800px) {
    .container {
        max-width: $med-width;
        transition: 0.3s ease all;
    }

    .just-comments {
        max-width: $med-width;
        margin: auto;
    }
}

@media (max-width: 650px) {
    .container {
        max-width: 83%;
    }
    .navbar-ul {
        margin-top: 5px;
    }

    .just-comments {
        max-width: 83%;
    }
}

@media (max-width: 580px) {
    #author-name {
        display: inline-block;
    }
}

table, th, td {
    // border-collapse: collapse;
    border: none;
    background-color: white;
    text-align: left;
    vertical-align: top;
    border-spacing: 10px;
  }

@import "typography";
// @import "tables";
